.markdown-section > p:first-child > a:first-child {
    float: right;
}

.markdown-section > p > a[href$='docsify.js.org'] {
    display:none;
}


.sidebar-nav ul > li > p > a[title='Animation'],.sidebar-nav ul > li > p > a[title='Design & Illustration'],.sidebar-nav ul > li > p > a[title='qOS API Reference'], .sidebar-nav ul > li > a[title='License']{
  font-weight:bold;
  color:#32c032;
  font-size: 1.05rem;
}

.sidebar-nav ul > li > p:first-child {
  font-weight:bold;
  color:#9e97ff;

  font-size: 1.05rem;
}


.sidebar-nav ul:first-child  > li > p:first-child {
  font-weight:bold;
  color:#32c032;
  font-size: 1.05rem;
}


.sidebar-nav ul > li > p > a[title='Hire me!']{
  font-weight:bold;
  color:red;
  font-size: 1.05rem;
}



a[href="https://github.com/QuestNetwork/animation"],a[href="https://github.com/QuestNetwork/quest-network"],a[href="https://github.com/QuestNetwork/design"],a[href="https://github.com/QuestNetwork/download"], a[href="https://github.com/QuestNetwork/support-us"], a[href="https://github.com/QuestNetwork/quickstart"], a[href="https://github.com/QuestNetwork/web-demo"],a[href="https://github.com/QuestNetwork/license"]{
  display:none;
}


.gitter-open-chat-button{
  display:none;
}

.cover.show{
    background: linear-gradient(to left bottom, #fa3c33 0%,#96211c 100%) !important;
    display: block;
    opacity: 1;
position: fixed;
    z-index: 222;

}

.cover-main p {
    color: #a4d1ff;
}


.cover.show .anchor span {
    color: #a4d1ff !important;
}

section.cover ul {

    color: #920000;
        margin-bottom: 70px;
}

.cover.show p {
    line-height: 1.5rem;
    margin: 1em 0;
    color: white;

    font-size: 36px;
line-height: 36px;
font-weight: 800;
font-family: Ubuntu;
  }

  .githubFooterWidget{
    margin-left: 10px;
position: relative;
top: 5px;
  }

  .coverpageDownloadIcon{
    position: relative;
      top: 3px;
      right: 4px;
  }

.coverpageGitHubIcon{
  position: relative;
    top: 3px;
    right: 4px;
}

section.cover .cover-main>p:last-child a:last-child{
  background-color: transparent !important;
  padding:0;

  /* border:2px solid white; */
}


.quickLink{
  height:20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section.cover .cover-main>p:last-child a {
    border: 0;
    background:transparent;
}


.sidebar{
  background-color: #f5f5f7
}

header{
  background:#fa3c33 !important;
}

.sidebar-nav{
/* padding-top: 50px; */
}


.sidebar-nav ul > li:nth-child(2) > p{
  font-weight:bold;
  color:#8f9e19 !important;
  font-size: 1.05rem;
}

.sidebar-nav ul > li:nth-child(3) > p{
  font-weight:bold;
  color:#3246d7 !important;
  font-size: 1.05rem;
}

.app-name-link,.search{
  display: none;
}

h1{
      padding-top: 60px;
}

#illustration-amp-graphic-design,#animation{
  display: none;
}
#quest-network{
  padding-top: 0px;
}


.content{
  padding-top:0px !important;
}

.markdown-section{
  padding-top:0px !important;
}
