.markdown-section > p:first-child > a:first-child {
    float: right;
}

.markdown-section > p > a[href$='docsify.js.org'] {
    display:none;
}


.sidebar-nav ul > li > p > a[title='Developer'],.sidebar-nav ul > li > p > a[title='qOS API Reference'], .sidebar-nav ul > li > a[title='License']{
  font-weight:bold;
  color:#3246d7;
  font-size: 1.05rem;
}

.sidebar-nav ul > li > p:first-child {
  font-weight:bold;
  color:#9e97ff;

  font-size: 1.05rem;
}


.sidebar-nav ul:first-child  > li > p:first-child {
  font-weight:bold;
  color:#32c032;
  font-size: 1.05rem;
}


a[href="https://github.com/QuestNetwork/api"],a[href="https://github.com/QuestNetwork/security"],a[href="https://github.com/QuestNetwork/download"], a[href="https://github.com/QuestNetwork/support-us"], a[href="https://github.com/QuestNetwork/quickstart"], a[href="https://github.com/QuestNetwork/web-demo"],a[href="https://github.com/QuestNetwork/license"]{
  display:none;
}


.gitter-open-chat-button{
  display:none;
}

.cover.show{
background: linear-gradient(to left bottom, hsl(244deg 43% 32%) 0%,hsl(252deg 100% 6%) 100%) !important;

position: fixed;
    z-index: 222;

}

.cover-main p {
    color: #a4d1ff;
}


.cover.show .anchor span {
    color: #a4d1ff !important;
}

section.cover ul {

    color: #920000;
        margin-bottom: 70px;
}

.cover.show p {
    line-height: 1.5rem;
    margin: 1em 0;
    color: white;
  }

  .githubFooterWidget{
    margin-left: 10px;
position: relative;
top: 5px;
  }

  .coverpageDownloadIcon{
    position: relative;
      top: 3px;
      right: 4px;
  }

.coverpageGitHubIcon{
  position: relative;
    top: 3px;
    right: 4px;
}
